<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.cadecode.sa.framework.model.mapper.SecurityApiMapper">
    <resultMap id="SecurityApiVoMap" type="top.cadecode.sa.framework.model.vo.SecurityApiVo">
        <result column="id" property="id" />
        <result column="url" property="url" />
        <result column="description" property="description" />
        <collection property="roles" ofType="string">
            <result column="code" />
        </collection>
    </resultMap>
    <select id="listSecurityApiVos" resultMap="SecurityApiVoMap">
        SELECT sa.id, sa.url, sa.description, sr.code
        FROM security_api sa
                 LEFT JOIN security_role_api sra ON sra.api_id = sa.id
                 LEFT JOIN security_role sr ON sra.role_id = sr.id
        GROUP BY sa.url, sr.code
    </select>
</mapper>
