<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.cadecode.uniboot.system.mapper.SysApiMapper">
    <resultMap id="SysApiRolesVoMap" type="top.cadecode.uniboot.system.bean.vo.SysApiVo$SysApiRolesVo">
        <result column="id" property="id"/>
        <result column="url" property="url"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="r_code" property="roles" typeHandler="ObjToStrTypeHandler"/>
    </resultMap>
    <select id="selectRolesVoByApiIds" resultMap="SysApiRolesVoMap">
        SELECT sa.*, JSON_ARRAYAGG(sr.code) r_code
        FROM sys_api sa
        LEFT JOIN sys_role_api sra ON sra.api_id = sa.id
        LEFT JOIN sys_role sr ON sra.role_id = sr.id
        <if test="apiIds != null and apiIds.size > 0">
            WHERE sa.id IN (
            <foreach collection="apiIds" item="apiId" separator=",">
                #{apiId}
            </foreach>
            )
        </if>
        GROUP BY sa.id, sa.url
        ORDER BY sa.url
    </select>
    <select id="selectRolesVo" resultMap="SysApiRolesVoMap">
        SELECT sa.*, JSON_ARRAYAGG(sr.code) r_code
        FROM sys_api sa
        LEFT JOIN sys_role_api sra ON sra.api_id = sa.id
        LEFT JOIN sys_role sr ON sra.role_id = sr.id
        <if test="request != null">
            <where>
                <if test="request.url != null and request.url.length > 0">
                    <bind name="bindUrl" value="'%' + request.url + '%'"/>
                    sa.url like #{bindUrl}
                </if>
                <if test="request.description != null and request.description.length > 0">
                    <bind name="bindDescription" value="'%' + request.description + '%'"/>
                    AND sa.description like #{bindDescription}
                </if>
            </where>
        </if>
        GROUP BY sa.id, sa.url
        ORDER BY sa.url
    </select>
</mapper>
