<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.cadecode.uniboot.system.mapper.SysApiMapper">
    <resultMap id="SysApiRolesVoMap" type="top.cadecode.uniboot.system.bean.vo.SysApiVo$SysApiRolesVo">
        <result column="id" property="id"/>
        <result column="url" property="url"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <collection property="roles" ofType="string">
            <result column="r_code"/>
        </collection>
    </resultMap>
    <select id="selectRolesVo" resultMap="SysApiRolesVoMap">
        SELECT sa.*, sr.code r_code
        FROM sys_api sa
        LEFT JOIN sys_role_api sra ON sra.api_id = sa.id
        LEFT JOIN sys_role sr ON sra.role_id = sr.id
        <if test="apiIds != null and apiIds.size > 0">
            WHERE sa.id IN (
            <foreach collection="apiIds" item="apiId" separator=",">
                #{apiId}
            </foreach>
            )
        </if>
        ORDER BY sa.create_time DESC, sr.code
    </select>
</mapper>
