<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.cadecode.uniboot.system.mapper.SysMenuMapper">
    <select id="selectByRoles" resultType="top.cadecode.uniboot.system.bean.po.SysMenu">
        SELECT DISTINCT sm.*
        FROM sys_menu sm LEFT JOIN sys_role_menu srm ON sm.id = srm.menu_id
        LEFT JOIN sys_role sr ON srm.role_id = sr.id
        <foreach collection="roleCodes" item="roleCode" separator="," open="where sr.code IN (" close=")">
            #{roleCode}
        </foreach>
        ORDER BY sm.order_num
    </select>
</mapper>
